body {
  margin: 0;
  overflow: hidden;
}

#tab {
  float: right;
  width: 20%;
  padding: 0;
  margin: 0;
}

#logs, #generalSettingsForm {
  top: 0;
  right: 0;
  width: 100%;
  height: 85vh;
  /* min-height: 250px; */
  background-color: #333;
  color: #fff;
  overflow-y: scroll;
  font-family: Arial, sans-serif;
}

body {
  background-color: #333;
  color: #fff;
}
.nav-tabs .nav-link {
  color: #ccc;
}
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #555;
}
.form-control, .btn-primary {
  background-color: #444;
  color: #fff;
  border: 1px solid #555;
}
.form-control:focus {
  background-color: #555;
  color: #fff;
  border-color: #666;
  box-shadow: none;
}
.btn-primary {
  border-color: #666;
}
.btn-primary:hover {
  background-color: #666;
  border-color: #777;
}
canvas {
  display: block;
}
